*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1280px;
    height: 585px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 30px 40px;
    flex-wrap: wrap;
    gap: 35px;
}

.frst{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.first{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.scnd{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 2px #000000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.second{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border-radius: 8px;
}

.thrd{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    display: flex;
    padding: 10px;
    gap: 10px;  
    flex-wrap: wrap;

}

.third{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.frth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.fourth{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.ffth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
}

.fifth{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.sxth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.sixth{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.svnth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.seventh{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.ghth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.eighth{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.nnth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
}

.ninth{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.tnth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: flex-end;
}

.tenth{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.lvnth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.eleventh{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}

.twlvth{
    background-color: #995DB5;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px #000000;
    padding: 10px;
    gap: 10px;
    display: flex;
    justify-content: space-around;
}

.twelveth{
    width: 50px;
    height: 50px;
    background-color: #F7941F;
    border: 1px #000000;
    border-radius: 8px;
}